{% extends 'homepage.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    
    <div class="container d-flex">
        <ul class="list-unstyled container p-3 bg-white ">
    
            {% for product in products %}
                
            
            <li class="media d-flex my-5">
              <img src="https://picsum.photos/id/1002/200/300" class="mr-3" alt="...">
              <div class="media-body mx-3 my-2">
                <h5 class="mt-0 mb-1">{{product.category}}</h5>
                {{product._desc}}
                <br><br> <div class="btn-group">
                    <form method="post">
                      
                            <button type="submit" value = {{product.p_id}} class="btn btn-dark" name="action1">Add to Cart</button>
                           
                    </form>

                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Quantity</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">1</a>
                      <a class="dropdown-item" href="#">2</a>
                      <a class="dropdown-item" href="#">3</a>
                      <a class="dropdown-item" href="#">4</a>
                      <a class="dropdown-item" href="#">5</a>
                    </div>
                  </div>
              </div>
           

              {% endfor %}

    {% endblock body %}
    

 

</body>
</html>
