{% extends 'homepage.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    
    <div class="container p-3 d-flex bg-white">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="https://picsum.photos/id/2/200/300" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">₹ 999.99</h5>
            <p class="card-text">product description wilasd jhfkas dmas ldjasd jsdnf asd fsdf</p>
            <div class="btn-group">
                <button type="button" class="btn btn-dark">Add to Cart</button>
                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Quantity</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                  <a class="dropdown-item" href="#">4</a>
                  <a class="dropdown-item" href="#">5</a>
                </div>
              </div>
            </div>
        </div>

        <div class="card mx-auto" style="width: 18rem;">
            <img src="https://picsum.photos/id/1003/200/300" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">₹ 999.99</h5>
            <p class="card-text">product description wilasd jhfkas dmas ldjasd jsdnf asd fsdf</p>
            <div class="btn-group">
                <button type="button" class="btn btn-dark">Add to Cart</button>
                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Quantity</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                  <a class="dropdown-item" href="#">4</a>
                  <a class="dropdown-item" href="#">5</a>
                </div>
              </div>
            </div>
        </div>

        <div class="card mx-auto" style="width: 18rem;">
            <img src="https://picsum.photos/id/238/200/300" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">₹ 999.99</h5>
            <p class="card-text">product description wilasd jhfkas dmas ldjasd jsdnf asd fsdf</p>
            <div class="btn-group">
                <button type="button" class="btn btn-dark">Add to Cart</button>
                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Quantity</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                  <a class="dropdown-item" href="#">4</a>
                  <a class="dropdown-item" href="#">5</a>
                </div>
              </div>
            </div>
        </div>


    </div>
    <div class="container d-flex bg-white">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="https://picsum.photos/id/1002/200/300" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">₹ 999.99</h5>
            <p class="card-text">product description wilasd jhfkas dmas ldjasd jsdnf asd fsdf</p>
            <div class="btn-group">
                <button type="button" class="btn btn-dark">Add to Cart</button>
                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Quantity</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                  <a class="dropdown-item" href="#">4</a>
                  <a class="dropdown-item" href="#">5</a>
                </div>
              </div>
            </div>
        </div>

        <div class="card mx-auto" style="width: 18rem;">
            <img src="https://picsum.photos/id/237/200/300" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">₹ 999.99</h5>
            <p class="card-text">product description wilasd jhfkas dmas ldjasd jsdnf asd fsdf</p>
            <div class="btn-group">
                <button type="button" class="btn btn-dark">Add to Cart</button>
                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Quantity</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                  <a class="dropdown-item" href="#">4</a>
                  <a class="dropdown-item" href="#">5</a>
                </div>
              </div>
            </div>
        </div>

        <div class="card mx-auto" style="width: 18rem;">
            <img src="https://picsum.photos/id/37/200/300" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">₹ 999.99</h5>
            <p class="card-text">product description wilasd jhfkas dmas ldjasd jsdnf asd fsdf</p>
            <div class="btn-group">
                <button type="button" class="btn btn-dark">Add to Cart</button>
                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Quantity</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                  <a class="dropdown-item" href="#">4</a>
                  <a class="dropdown-item" href="#">5</a>
                </div>
              </div>
            </div>
        </div>


    </div>
</div>

    {% endblock body %}
    
</body>
</html>
