{% extends 'homepage.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    
    <div class="container d-flex">
        <ul class="list-unstyled container p-3 bg-white ">
    
            {% for product in products %}
                
            
            <li class="media d-flex my-5">
              <img src="https://picsum.photos/id/1002/200/300" class="mr-3" alt="...">
              <div class="media-body mx-3 my-2">
                <h5 class="mt-0 mb-1">{{product.category}}</h5>
                {{product._desc}}
                <br><br>
                <!-- <button type="button" class="btn btn-dark" name >Add to Cart</button> -->
                <form method="POST" action="/cart">
                    <input type="submit" value="Add to cart" name="action1"/>
              
                </form>
              </div>
           

              {% endfor %}

    {% endblock body %}
    

 

</body>
</html>
